body{margin:0px;
			padding-left:27px;
			font-size:17px;}
		a{text-decoration:none;
			
			color:black;}
		img{width:168px;
			height:105px;}
		li{list-style-type:none;}
		#rf_1{
			height:680px;
			width:1370px;
			
			margin-top:0px;}
		.rf_1{
			height:50px;
			width:1370px;
			}
		.rf_2{
			height:80px;
			width:1370px;
			}
		.rf_3{
			height:470px;
			width:1370px;
			}
		.rf_4{
			height:80px;
			width:1370px;
			}
		.rf_11{
			height:470px;
			width:300px;
			
			float:left;}
		.rf_12{
			height:33px;
			width:500px;
			float:right;
			padding-top:13px;}
		.rf_13{
			height:80px;
			width:570px;
			float:right;
			margin-right:500px;
			padding-top:23px;
			padding-left:23px;}
		.rf_131{border:1px solid black;
			background-color:white;
			width:330px;
			margin-top:-17px;
			position: absolute;
			z-index: 3;}
		.rf_1311{border:1px solid green;
			width:300px;
			font-size:18px;
			}
		.rf_14{height:430px;
			width:1060px;
			float:right;}
		.rf_15{padding-left:130px;
			height:30px;
			width:800px;
			float:left;}
		.rf_1 a{
			height:33px;	
			}
		.rf_111{
			border-top:none;
			border-left:none;
			border-right:none;
			border-bottom-color:red;
			font-size:18px;}
		.rf_112{border:none;
			font-size:18px;
			background-color:transparent;}
		.rf_113{width:230px;
			height:230px;
			padding-left:33px;
			margin-top:33px;}
		.rf_113 li{height:43px;
			padding-top:13px;
			}
		.rf_113 a{
			border-top:none;
			border-left:none;
			border-right:none;
			border-bottom:1px solid black;
			border-bottom-color:black;
			border-bottom-width:2px;}
		.p3{
			font-size:13px;	
			margin-left:70px;
			margin-bottom:23px;
			color:#a7a7a7;
			width:750px;
			height:50px;
			margin-left:300px;
			padding-top:23px;}
		.p3 span{color:black;}
		.main{float:left;
			font-size:38px;
			padding-top:10px;
			padding-left:77px}
		.rf_14 div{height:136px;
			width:337px;
			display:inline;}
			.rf_14 img{margin-top:13px;
					position:absolute;
					z-index:2;
					}
			.rf_23 a{margin-top:13px;
					height:123px;
					width:168px;
					
					position:absolute;
					z-index:2;
					text-decoration:none;
					color:white;
					font-size:23px;
					padding-top:23px;
					padding-left:7px;
					display:block;}
				.rf_14 ul{float:left;
					margin-left:13px;}
				#rf_3{
					float:right;
					display:block;
					height:113px;
					width:143px;}